/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/inter-v13-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/inter-v13-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  background: linear-gradient(120deg, #536976 0%, #292e49 100%);
  background-attachment: fixed;
}

#center {
  text-align: center;
  margin-top: 3.5rem;
  margin-inline: 2rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

#title {
  font-size: 3.25rem;
  margin-bottom: 2rem;
}

#description {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1rem;
}

#survey-form {
  display: block;
  text-align: left;
  width: 90%;
  max-width: 50rem;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: rgba(7, 7, 7, 0.4);
  border-radius: 5px;
}

.box {
  text-align: left;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 5px;
  width: 100%;
  background-color: rgba(27, 66, 88, 0.3);
  border: 2px solid rgba(89, 83, 118, 0.1);
}

.last {
  margin-bottom: 3.125rem;
}

h3 {
  border-bottom: 0.3125rem solid #0099ff;
  width: fit-content;
  padding: 0.625rem 0;
  margin-top: 0;
  font-size: 1.5rem;
}

input,
button,
select,
textarea {
  font-size: 1.125rem;
}

label {
  display: block;
  margin-bottom: 1.25rem;
}

.input-control {
  display: block;
  width: 100%;
  height: 2.5rem;
  color: #495057;
  border-radius: 5px;
  outline: none;
  padding-left: 0.625rem;
  border: none;
  margin: 0 auto 1.875rem auto;
  background-color: rgb(233, 233, 233);
  background-clip: padding-box;
}

.radio,
.checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  height: 1.25rem;
  width: 1.25rem;
}

.textarea {
  min-height: 18.75rem;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  border-radius: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 0.625rem;
}

#submit {
  display: block;
  width: 100%;
  padding: 0.9375rem;
  background: #536976;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 2rem auto;
  transition: 0.1s ease-in-out;
}

#submit:hover {
  background: #0f5da7;
}
